image: docker:1.11
services:
 - docker:1.11-dind

stages:
  - test
  - build
  - run

variables:
  TEST_IMAGE_NAME: registry.gitlab.com/gitlab-org/gitlab-qa
  TEST_IMAGE: $TEST_IMAGE_NAME:$CI_BUILD_REF
  TEST_IMAGE_LATEST: $TEST_IMAGE_NAME:latest

rubocop:
  stage: test
  image: ruby:2.3
  script:
    - gem install rubocop
    - rubocop
  except:
    - triggers
  tags:
    - docker

build-image:
  stage: build
  script:
    - docker build -t $TEST_IMAGE .
    - docker tag $TEST_IMAGE $TEST_IMAGE_LATEST
    - test -n "$CI_BUILD_TOKEN" || exit 0
    - docker login --username gitlab-ci-token --password $CI_BUILD_TOKEN registry.gitlab.com
    - docker push $TEST_IMAGE
    - docker push $TEST_IMAGE_LATEST
    - docker logout registry.gitlab.com
  except:
    - triggers
  tags:
    - docker

gitlab-ce-test:
  stage: run
  variables:
    HOSTNAME: gitlab-qa-ce.test
    GITLAB_URL: http://$HOSTNAME
    MOUNT_VOLUMES_TO_SERVICES: 'true'
  script:
    - docker network create test
    - docker run -d --net test --name gitlab-qa-ce --hostname $HOSTNAME gitlab/gitlab-ce:nightly
    - docker run -t --net test -e GITLAB_URL -v $(pwd)/tmp:/tests/tmp $TEST_IMAGE rspec --tag ce
  tags:
    - docker
  artifacts:
    when: on_failure
    paths:
      - tmp/*.png

gitlab-ee-test:
  stage: run
  variables:
    HOSTNAME: gitlab-qa-ee.test
    GITLAB_URL: http://$HOSTNAME
    MOUNT_VOLUMES_TO_SERVICES: 'true'
  script:
    - docker network create test
    - docker run -d --net test --name gitlab-qa-ee --hostname $HOSTNAME gitlab/gitlab-ee:latest
    - docker run -t --net test -e GITLAB_URL -e EE_LICENSE -v $(pwd)/tmp:/tests/tmp $TEST_IMAGE rspec --tag ee
  tags:
    - docker
  artifacts:
    when: on_failure
    paths:
      - tmp/*.png
