services:
 - docker:1.12-dind

stages:
  - check
  - build
  - run

variables:
  TEST_IMAGE_NAME: registry.gitlab.com/gitlab-org/gitlab-qa
  TEST_IMAGE: $TEST_IMAGE_NAME:$CI_BUILD_REF
  TEST_IMAGE_LATEST: $TEST_IMAGE_NAME:latest
  DOCKER_DRIVER: overlay
  DOCKER_HOST: tcp://docker:2375

check:rubocop:
  stage: check
  image: ruby:2.3
  script:
    - gem install rubocop
    - rubocop
  except:
    - triggers
  tags:
    - docker

build:image:
  image: docker:1.12
  stage: build
  script:
    - docker build -t $TEST_IMAGE .
    - docker tag $TEST_IMAGE $TEST_IMAGE_LATEST
    - test -n "$CI_BUILD_TOKEN" || exit 0
    - docker login --username gitlab-ci-token --password $CI_BUILD_TOKEN registry.gitlab.com
    - docker push $TEST_IMAGE
    - docker push $TEST_IMAGE_LATEST
    - docker logout registry.gitlab.com
  except:
    - triggers
  tags:
    - docker

test:instance:ce:
  stage: run
  image: $TEST_IMAGE
  script: bin/run Test::Instance::CE
  tags:
    - docker
  artifacts:
    when: on_failure
    paths:
      - tmp/*.png

test:instance:ee:
  image: docker:1.12
  stage: run
  variables:
    HOSTNAME: gitlab-qa-ee.test
    GITLAB_URL: http://$HOSTNAME
  script:
    - docker network create test
    - docker run -d --net test --name gitlab-qa-ee --hostname $HOSTNAME gitlab/gitlab-ee:nightly
    - docker run -t --net test -e GITLAB_URL -e EE_LICENSE -v $(pwd)/tmp:/tests/tmp $TEST_IMAGE Test::Instance::EE
  tags:
    - docker
  artifacts:
    when: on_failure
    paths:
      - tmp/*.png
