services:
 - docker:1.12-dind

stages:
  - build
  - check
  - test
  - notification

variables:
  TEST_IMAGE_NAME: registry.gitlab.com/gitlab-org/gitlab-qa
  TEST_IMAGE: $TEST_IMAGE_NAME:latest
  DOCKER_DRIVER: overlay
  DOCKER_HOST: tcp://docker:2375

build:image:
  image: docker:1.12
  stage: build
  script:
    - ./bin/docker load
    - ./bin/docker build
    - ./bin/docker store
    - test -n "$CI_BUILD_TOKEN" || exit 0
    - ./bin/docker publish
  except:
    - triggers
    - master
  tags:
    - docker
  when: manual
  cache:
    key: "docker-build-cache"
    paths:
      - ./latest_image.tar

check:rubocop:
  stage: check
  image: $TEST_IMAGE
  script:
    - bundle exec rubocop
  except:
    - triggers
  tags:
    - docker

check:rspec:
  stage: check
  image: $TEST_IMAGE
  script: bin/test Internal::Unit
  except:
    - triggers
  tags:
    - docker

.test: &test
  stage: test
  image: $TEST_IMAGE
  tags:
    - docker
  artifacts:
    when: on_failure
    expire_in: 30d
    paths:
      - tmp/*.png

ce:instance:
  script: bin/test Instance::CE
  <<: *test

ee:instance:
  script: bin/test Instance::EE
  <<: *test

ce:image:
  script: bin/test Omnibus::Image CE
  <<: *test

ee:image:
  script: bin/test Omnibus::Image EE
  <<: *test

ce:upgrade:
  script: bin/test Omnibus::Upgrade CE
  <<: *test

ee:upgrade:
  script: bin/test Omnibus::Upgrade EE
  <<: *test

notify:slack-fail:
  before_script:
    - apk update && apk add git curl bash
  image: alpine
  stage: notification
  script:
    - bin/slack "#omnibus-builds" "(╯°□°)╯︵┻━┻  Pipeline on \`$CI_BUILD_REF_NAME\` failed! Commit \`$(git log -1 --oneline | sed 's|\"|\\\\\"|g')\` See <https://gitlab.com/gitlab-org/gitlab-qa/commit/"$CI_BUILD_REF"/pipelines>"
  when: on_failure
  only:
    - master
    - tags@gitlab-org/gitlab-qa
