services:
 - docker:1.13-dind

stages:
  - check
  - sanity
  - test

variables:
  TEST_IMAGE: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa
  DOCKER_DRIVER: overlay
  DOCKER_HOST: tcp://docker:2375
  QA_SCREENSHOTS_DIR: $CI_PROJECT_DIR/screenshots
  QA_LOGS_DIR: $CI_PROJECT_DIR/logs

before_script:
  - bundle install

check:rubocop:
  stage: check
  image: $TEST_IMAGE
  script: bundle exec rubocop
  except:
    - triggers
  tags:
    - docker

check:rspec:
  stage: check
  image: $TEST_IMAGE
  script: bundle exec rspec
  except:
    - triggers
  tags:
    - docker

.sanity: &sanity
  stage: sanity
  image: $TEST_IMAGE
  except:
    - triggers
  tags:
    - docker

ce:version:
  script: bin/qa Test::Sanity::Version ${RELEASE:=CE}
  allow_failure: true
  <<: *sanity

ee:version:
  script: bin/qa Test::Sanity::Version ${RELEASE:=EE}
  allow_failure: true
  <<: *sanity

.test: &test
  stage: test
  image: $TEST_IMAGE
  tags:
    - docker
  artifacts:
    when: on_failure
    expire_in: 30d
    paths:
      - screenshots/*.png
      - logs/*.log

ce:instance:
  script: bin/qa Test::Instance::Image ${RELEASE:=CE}
  <<: *test

ee:instance:
  script: bin/qa Test::Instance::Image ${RELEASE:=EE}
  <<: *test

ce:image:
  script: bin/qa Test::Omnibus::Image ${RELEASE:=CE}
  <<: *test

ee:image:
  script: bin/qa Test::Omnibus::Image ${RELEASE:=EE}
  <<: *test

ce:update:
  script: bin/qa Test::Omnibus::Update ${RELEASE:=CE}
  <<: *test

ee:update:
  script: bin/qa Test::Omnibus::Update ${RELEASE:=EE}
  <<: *test

ce:upgrade:
  script: bin/qa Test::Omnibus::Upgrade
  <<: *test

ce:mattermost:
  script: bin/qa Test::Integration::Mattermost ${RELEASE:=CE}
  <<: *test

ee:mattermost:
  script: bin/qa Test::Integration::Mattermost ${RELEASE:=EE}
  <<: *test

ee:geo:
  script: bin/qa Test::Integration::Geo EE
  <<: *test
  tags:
    - docker
    - 7gb
    - triggered-packages
